* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}



/* 헤더 영역 스타일시트 시작 */

.wrap{width: 1200px;
    height: 0 auto;
    margin: 0 auto;
    position: relative;
     }
  
/* .header{
     position: absolute;
     top:0;
     width: 100%;
     height: 170px;
    border-bottom:  1px solid #ccc;
    } */

/* header: 헤더 영역을 상단에 고정 */
.header {
    position: fixed;
    top: 0;
    left: auto;
    width: 100%;
    height: 170px;
    max-width: 1200px;
    background-color: white; /* 배경색을 지정하여 고정된 헤더가 겹치는 것 방지 */
    font-size: 18px;
    font-weight: bolder;
    border-bottom:  1px solid #ccc;
    
}
.header > .nav {width: 100%;
    /* background-color: aliceblue; */
     margin-top: 130px;
    /* display: flex; */
     }

.header > .nav>ul{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    }
.header > .nav>ul>li:hover{
    text-decoration: underline;
    }

.wrap>.header>.logo{
    float: left;
    margin-top: 30px;}
        
.wrap>.header>.login{
    float: right;
    margin-top: 50px;
    font-size: 18px;
    }
    .wrap>.header>.login>a{
        color: #ccc;
               }
        
        .wrap>.header>.login>a:hover{ 
            text-decoration: underline;
                        /* 로그인/가입하기 호버 추가 20240929 */
            cursor: pointer;}




/* 게시판 커뮤니티 영역 스타일시트 시작 */

.board_wrap {
    width: 1200px;
    margin: 100px auto;
    margin-top: 230px;
}

.board_title {
    margin-bottom: 30px;
}


.board_title h1 {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 3rem;
}
.board_title p {
    margin-top: 5px;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: -0.5px;
}

.bt_wrap {
    margin-top: 30px;
    margin-bottom: -30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 30px;
    font-size: 1.6rem;
}
.bt_wrap a:hover {
    background-color: #000;
    color: #fff;
}

.bt_wrap a:first-child {
    margin-left: 0;
}


.bt_wrap #imagegallery:hover {
    /* hover 시 커서 변경 */
    cursor: pointer; /* 마우스 커서가 손 모양으로 변경 */
}
.bt_wrap button {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 30px;
    font-size: 1.6rem;
}
.bt_wrap button:hover {
    background-color: #000;
    color: #fff;
}

.board_list {
    width: 100%;
    border-top: 2px solid #000;
}

.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list > div.top {
    border-bottom: 1px solid #999;
}

.board_list > div:last-child {
    border-bottom: 1px solid #000;
}

.board_list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.6rem;
}

.board_list > div.top > div {
    font-weight: 600;
}

.board_list .num {
    width: 10%;
    font-weight: bold;
}

.board_list .title {
    width: 50%;
    text-align: left;
}

.board_list .top .title {
    text-align: center;
}

.board_list .id {
    width: 10%;
}

.board_list .date {
    width: 10%;
}

.board_list .count {
    width: 10%;
}
.board_list .file {
    width: 10%;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
}
.board_page a:hover {
    background-color: #000000;
    border: 1px solid #000000;
    color: #fff;
}

.board_page a.bt {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 9px;
    font-size: 1.6rem;
    
}

.board_page a.num.on {
    border-color: #000000;
    background: #000000;
    color: #ffffff;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}

/* //글쓰기 기능 추가할 때 실행시키기!


.board_write {
    border-top: 2px solid #000;
}

.board_write .title,
.board_write .info {
    padding: 15px;
}

.board_write .info {
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid #000;
    font-size: 0;
}

.board_write .title dl {
    font-size: 0;
}

.board_write .info dl {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

.board_write .title dt,
.board_write .info dt {
    width: 100px;
}

.board_write .title dd {
    width: calc(100% - 100px);
}

.board_write .title input[type="text"],
.board_write .info input[type="text"],
.board_write .info input[type="password"] {
    padding: 10px;
    box-sizing: border-box;
}

.board_write .title input[type="text"] {
    width: 80%;
}

.board_write .cont {
    border-bottom: 1px solid #000;
}

.board_write .cont textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
} */

#modalBox{
            
    position: fixed; /* 부모박스 wrap 으로부터 위치 설정. 고정.*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.556); /* 로그인 페이지에서는 이것을 제거 */
    background-color: rgba(32, 32, 32, 0.612);
    
    /*display: flex; /* 로그인 화면 */
    display: none; /* 자바스크립트 활용 */
    justify-content: center;
    align-items: center;
}
#modalBox.active{ /* 모달 열기 버튼을 클릭하면 나타나게 처리하기 위해 */
    display: flex;
}
.modalContent{
    width: 700px;
    height: 700px;
    border: 1px solid #000;
    border-radius: 15px; /*모달 팝업 모서리 둥굴게*/
    background-color: #fff; 
    padding: 10px;
}

/* 이미지 모아보기 클릭시 띄우는 화면 */

#gallerywrap{
    width: 100%;
}
#gallerywrap>.gallery>h1{
    font-size: 2.8rem;
    margin: 24px;
    color:#fff;
}

#gallerywrap>.gallery>.youtube1{
    width: 100%;
    /* overflow: hidden; */
    background-color: rgb(0, 0, 0);
    /* 플렉서블 박스 적용 - 부모에 적용 */
    display: flex; /* 플렉서블 박스를 적용 */
    flex-direction: row; /* 배치 - 행, flex-direction: column; - 열 */
    justify-content: space-evenly; /* 자식요소인 아이템을 배치하는 방법 */
    flex-wrap: wrap; /* 자동 줄 바꿈 */
}
#gallerywrap>.gallery #showmore{
    /* hover 시 커서 변경 */
    cursor: pointer; /* 마우스 커서가 손 모양으로 변경 */
}


/* 이미지 모아보기 화면 닫기 */
.modalContent>button>#close{
    border: 1px solid #000;
}
.modalContent{
    position: relative;
    background-color: #000;
}

.modalContent #close {
    position:absolute;
    right: 0;
    top: 0;
    display: inline-block;
    min-width: 57px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #000;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 3.0rem;
}
.modalContent #close:hover {
    background-color: #000;
    color: #fff;
    /* hover 시 커서 변경 */
    cursor: pointer; /* 마우스 커서가 손 모양으로 변경 */
}



    /* 푸터부분 css 추가 20240928 03:36 */
    .footer{ 
    width: 1200px;
    padding: 5px;
    top: 800px;
    margin: 20px auto;
    background: #ffffff;
}
    .footp1{
    width: 400px;
    display: inline-flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 10px auto;
    font-size: 14px;
    align-items: left;
    }
    .footp1>a{
        color:#bcbcbc;
    }